<h2 mat-dialog-title>Item List</h2>
<mat-dialog-content>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr  *ngFor="let item of product">
            <td>{{item.productName}}</td>
            <td> {{item.productQuantity}} </td>
            <td> {{item.productPrice}} </td>
            <td> {{item.productQuantity * item.productPrice}} </td>
            <td (click)="onClickDelete(item.productId)"><button mat-raised-button color="primary">Remove</button></td>
        </tr>
    </tbody>
    <tfoot>
        <td>Total</td>
        <td></td>
        <td></td>
        <td> total </td>
    </tfoot>
    </table>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button (click)="onClickPurchase()" cdkFocusInitial>Purchase</button>
</mat-dialog-actions>
